@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url(../node_modules/react-rangeslider/lib/index.css);
/* line 38, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 2px;
  padding: 2px;
  background-color: #999999;
  margin-top: 50px; }

/* line 44, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
div.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 700px;
  margin: 2px;
  padding: 2px;
  border-width: 4px;
  border-style: solid;
  border-color: #CC5C5C;
  background-color: #C9C9C9;
  box-shadow: 3px 6px #000000; }

/* line 52, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
div.padsBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 55%;
  margin: 3px;
  padding: 3px;
  flex-wrap: wrap; }

/* line 57, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
div.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 45%;
  margin: 2px;
  padding: 2px;
  flex-wrap: nowrap; }

/* line 62, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
button {
  background-color: #999999;
  box-shadow: 3px 6px #000000;
  margin: 3px;
  padding: 3px;
  border-radius: 10px; }

/* line 69, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
button.drum-pad {
  width: 30%;
  height: 30%;
  margin: 1px;
  padding: 1px; }

/* line 72, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
button.power, button.record, button.play {
  width: 25%;
  height: 8%;
  margin: 1px;
  padding: 1px; }

/* line 76, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
button :hover {
  cursor: pointer; }

/* line 79, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
div.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 15%;
  margin: 1px;
  padding: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  font-family: "Russo One", sans-serif;
  font-size: 30px;
  color: #000000;
  box-shadow: 3px 6px #000000;
  background-color: #FFFFFF; }

/* line 87, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
div.volumebar {
  width: 85%;
  height: 10%;
  margin: 1px;
  padding: 1px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 3px 6px #000000;
  background-color: #FFFFFF; }

/* line 93, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
button.power, button.record, button.play {
  font-family: "Russo One", sans-serif;
  font-size: 15px;
  color: #000000; }


/* line 97, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
button p {
  font-family: "Russo One", sans-serif;
  font-size: 20px;
  color: #000000; }

@media only screen and (min-width: 1000px) {
  /* line 101, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
  div.App {
    flex-direction: row;
    width: 1000px;
    height: 450px; }
  /* line 106, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
  div.padsBoard {
    width: 60%;
    height: 100%; }
  /* line 109, /Users/adam/Desktop/My_Documents/Coding/Projects/drummachine/drummachine/src/App.sass */
  div.controls {
    width: 40%;
    height: 100%; } }

/*# sourceMappingURL=App.css.map */


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

